body {
    font-family: 'Merriweather Sans', sans-serif;
}
.content-wrapper {
    width: 720px;
    margin: auto;
}
.item-block {
    display: flex;
}
.item-heading{
    color:#0D88CC;
}
.item-description{
    flex: 1;
}
.item-paragraph{
    margin-top: 0;
    padding-right: 25px;
}
li:before { content: "- "}
.item-list{
    list-style-type:none;
    margin-left: -40px;
}
.first-footer{
    display:flex;
}
.alert-paragraph{
    margin-top: 0;
    margin-left: 5px;
    text-decoration:none;
}
a:link, a:visited {
    color: #0D88CC;
    text-decoration: none;
}
.first-divider {
    border-color:#6FD5F7 ;
}
.table-heading{
    color:#0D88CC;
}
.table-licensing{
    width: 100%;
}
th {
    text-align: left;
    padding: 5px;
}
td{
    text-align: left;
    padding: 5px;
}
th+th {
    border-left: 1px solid grey;
    margin-left: -1px
}
td+td {
    border-left: 1px solid grey;
    margin-left: -1px
}
.table-licences{
    background-color: lightblue ;
    border-collapse: collapse;
}
.table-licensing{
    font-size: 12px;
}
.licence-paragraph{
    padding-top: 50px;
    font-size: 12px;
}
.table-heading{
    padding-top: 50px;
}
.multilogo-img{
    max-width:100%;
    max-height:100%;
}
h2{
    color: #0D88CC;
}
.multilog-heading{
    padding-top: 50px;
}
.twitter-comments {
    display: flex;
}
.twitter-commentone{
    padding-right: 10px;
}
.twitter-logos{
    display: flex;
}
.twit-logo2{
    width: 120px;
    height: 26px;
    float: right;
    margin: 3px;
    padding-left: 252px;
}
.twit-logo1{
    width: 120px;
    height: 26px;
    float: right;
    margin: 3px;
    padding-left: 218px;
}
.twitter-container {
    padding-top: 50px;
}
.second-divider {
    border-color:#6FD5F7 ;
}.second-footer{
     width: 720px;
     margin: auto;

 }
.pictogram-container{
    display: flex;
}
.pictogram {
    padding-top: 30px;
    padding-left: 70px;
    width: 150px;
    height: 150px;
}
.trial-download{
    padding-top: 85px;
    padding-left: 75px;
}
.media{
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 70px;
}
.maintwit-logo {
    width: 150px;
    height: 36px;
    display: block;
}
.blog-logo {
    width: 240px;
    height: 36px;
    display: block;
}
.adresses {
    display: flex;
    width: 500px;
    padding-left: 70px;
    font-size: 10px;
}
.headquarters-adress{
    padding-right: 40px;
}
.westcoast-adress{
    padding-right: 40px;
}
.eastcoast-adress {
    padding-top: 50px;
}